@tailwind base;
@tailwind components;
@tailwind utilities;


.syntax-highlighter-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
}

@keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .slide-up {
    animation: slideUp 0.5s ease-in-out;
  }
@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .slide-down {
    animation: slideDown 0.5s ease-in-out;
  }
@keyframes slideRight {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .slide-right {
    animation: slideRight 0.5s ease-in-out;
  }
@keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .slide-left {
    animation: slideLeft 0.5s ease-in-out;
  }